<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Lista pokemonów</title>
    <link rel="stylesheet" type="text/css" media="screen" href="pokemon.css">
</head>

<body>
    <div class="wrapper">
        <header class="header" id="naglowek">
            <div class="long">Pokémon - nazwa serii gier konsolowych firmy Nintendo, tworzonych od 1996 przez Satoshiego
                Tajiri.
            </div>
            <div class="short">Pokémon</div>
        </header>
        <div class="content">
            <section id="opisPokemona">
                <div>
                    <div class="info" id='typy'>
                        <dl>
                            <dt>Nazwa</dt><dd><%= pokemon_info[0].name%></dd>
                            <dt>Waga</dt><dd><%=pokemon_info[0].weight%></dd>
                            <dt>Wzrost</dt><dd><%=pokemon_info[0].height%></dd>
                            <dt>Typy</dt><dd>
                                <% for(let row of pokemon_info) {%>
                                    <%=row.type_id + " "%>
                                <% }; %>
                            </dd>
                        </dl>
                        <div>
                            <b>niegroźny</b>
                        </div>
                        <div>
                            <a href="list.html">Wróc</a>
                            <form action="/zagrozenie" method="post" >
                                <input type="text" name="pokemon_id" style="display: none;" value="<%= pokemon_info[0].id%>">
                                <button>Zgłoś zagrożenie</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <footer class="footer">
            <div id='stopka' class="long">
                Pokémon – japoński serial anime tworzony od 1997 roku. W Japonii odcinki
                dzielą się na sześć serii: Pokémon, Pokémon: Advanced Generation,
                Pokémon: Diamond &amp; Pearl, Pokémon: Best Wishes!, Pokémon: XY i Pokémon
                Sun &amp; Moon, jednak wszędzie poza nią stosowany jest podział na 21
                sezonów.
            </div>
            <div id='stpka' class="short">Pokémon</div>
        </footer>
    </div>
</body>

<script src="home.js"></script>

</html>